{% extends "base_header.html" %}

{% block content %}
  <!-- profile - head part (avatar, nickname, username) -->
  <h2 class="obvod_header">{{ serie }} - types</h2>
  <div class="row_left area_padding_soft">
    <div class="row_left">
      <h3>Sort by:</h3>
      <ul>
        <li>period override</li>
      </ul>
    </div>
  </div>
{% if typelist|length != 0 %}
  <table class="table table-bordered">
    <thead style="background-color: #f5e5ff">
      <tr>
        <th><h4>Type suffix</h4></th>
        <th><h4>Period override</h4></th>
        <th><h4>Region</h4></th>
        <th><h4>Description</h4></th>
        <th><h4>Images</h4></th>
      </tr>
    </thead>
    {% for type in typelist %}
    <tbody>
      <tr>
        <td><p><a href="/series/{{ sid }}/types/{{ loop.index - 1 }}">{{ type.name }}</a></p></td>
        <td><p>{{ type.override_period }}</p></td>
        <td><p>{{ type.region }}</p></td>
        <td><p>{{ type.description }}</p></td>
        <td><p>[images]</p></td>
      </tr>
    </tbody>
    {% endfor %}
  </table>
{% else %}
  <br>
  <br>
  <h1>The list is empty</h1>
{% endif %}
{% endblock %}