{% extends "base_header.html" %}

{% block content %}
    <h1>SADB -- Soviet Architecture Database</h1>
    <img src="/static/img/SADB.svg" alt="" width="512" height="512" class="center">
    <h2><b>О проекте</b></h2>
    <p>   SADB - проект для упорядоченного хранения информации о некоторых сериях домов советского промышленного типового домостроения.<br><br>   Помимо хранения самих типов зданий будет также информация о принадлежащих им конкретных домах в городах, а также форум, на котором участники смогут обсуждать как серии-типы, так и назначение конкретных домов к ним. Для допуска на форум необходима регистрация, участники более высокой должности будут иметь доступ к модераторским привелегиям.</p>
    <h2><b>Почему именно панельки?</b></h2>
    <p>   Мы - жители города Сочи. Города с <i>великолепной</i> архитектурой периода социализма. Я, лид проекта, интересуюсь советской строительной промышленностью. Наш город уникален не только монументальной архитектурой сталинского периода и санаториями, но даже типовой промышленной застройкой хрущёвского, брежневского и даже "горбачёвского" (как ни странно) периода. I-335АС, I-467ДС-8, 135 - одни из наиболее распространённых у нас <b>серии</b> домов, наши варианты которых не встречаются больше <b>нигде</b> в мире.<br><br>   Данным интернет-ресурсом я хочу привлечь к этой тематике людей, живущих в таких уникальных домах в Сочи или настолько же сильно интересующихся ими, а также людей из других городов, которым интересна типовая архитектура своего города и чужих.</p>
    <div class="row">
        <img src="/static/img/cityobjs/perdonskoy_1335as.jpg" alt="Пер. донской - микропанелька 1-335АС" width="600" height="450" class="center">
        <img src="/static/img/cityobjs/vishnevaya_predpolozhitelno135.jpg" alt="Вишнёвая - предположительно один из домов 135-й" width="600" height="450" class="center">
        <div>
            <h2>I-335АС и (предположительно) один из вариантов 135-й</h2>
            <p>Слева вы можете наблюдать один из поздних и нетиповых вариантов дома серии 1-335АС. Его позднюю постройку можно выявить по внешним панелям, обделанным мелкой голубой плиточкой, а также по "полукруглым" балконам.<br>Справа же - дом предположительно серии 135 одного из вариантов. Такие дома в принципе строились в очень поздний период, а фасад у них один из наиболее красивых из всей типовой застройки г. Сочи.</p>
        </div>
    </div>
    <div class="row">
        <img src="/static/img/cityobjs/pasech61.jpg" alt="Пасечная - уникальный 'военный' дом" width="600" height="450" class="center">
        <img src="/static/img/cityobjs/pasech61_zad.jpg" alt="Пасечная - уникальный 'военный' дом, задний вид" width="600" height="450" class="center">
        <img src="/static/img/cityobjs/vdaleke_pasech61.jpg" alt="Пасечная - уникальный 'военный' дом, с ул. Вишнёвой" width="600" height="450" class="center">
    </div>
    <div class="row">
        <h2>Уникальный "военный" дом на пасечной</h2>
        <p>Дом на ул. Пасечной г. Сочи, уникальный в городе и, видимо, во всём мире. Прозван "военным" так как по слухам строился с помощью военнослужащих. Этот дом отлично видно практически с любой точки мкр-н-ов Донского, КСМ, Макаренко и Виноградной</p>
    </div>
    <div class="row">
        <img src="/static/img/cityobjs/tenevoy_mikro467ds.jpg" alt="Пер. Теневой - шестиэтажная версия 1-467ДС из девяностых" width="600" height="450" class="center">
        <img src="/static/img/cityobjs/krasnoarmy_467ds_ansamble.jpg" alt="Красноармейская - 'ансамбль' из нескольких 1-467ДС" width="600" height="450" class="center">
        <div>
            <h2>I-467ДС</h2>
            <p>Один из самых распространённых домов на территории не только Сочи, но и всей Юго-Западной части Краснодарского края и частично в Крыму, в отличие от предыдущих домиков. К слову, помимо -ДС (Д - двенадцатиэтажный, хотя в таком случае дом справа это скорее ШС...) существует I-467АС - пятиэтажный дом с широкими балконами на всю заднюю часть.</p>
        </div>
    </div>
    <h1>JI IO 6 U T E     II A h E JI 6 K U!!!</h1>
{% endblock %}