{% extends "base_header.html" %}

{% block content %}
    <h1>SADB -- Soviet Architecture Database</h1>
    <img src="/static/img/SADB.svg" alt="" width="512" height="512" class="center">
    <h2><b>About</b></h2>
    <p>   SADB - database for type architecture of soviet era.<br><br>    We wanted to make organized source of information about soviet building series and types, and especially sochi ones.</p>
    <img src="/static/img/cityobjs/perdonskoy_1335as.jpg" alt="Пер. донской - микропанелька 1-335АС" width="600" height="450" class="center">
    <img src="/static/img/cityobjs/vishnevaya_predpolozhitelno135.jpg" alt="Вишнёвая - предположительно один из домов 135-й" width="600" height="450" class="center">
    <img src="/static/img/cityobjs/tenevoy_mikro467ds.jpg" alt="Пер. Теневой - шестиэтажная версия 1-467ДС из девяностых" width="600" height="450" class="center">
        <img src="/static/img/cityobjs/krasnoarmy_467ds_ansamble.jpg" alt="Красноармейская - 'ансамбль' из нескольких 1-467ДС" width="600" height="450" class="center">
{% endblock %}